@import "~normalize.css";

@import "_variables";
@import "modules/week-summary.scss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.body {
  background-color: #202020;
  color: white;
  font-family: "Comfortaa", cursive;
}

.footer {
  margin: 0 auto;
  max-width: 1000px;
  &__link {
    text-decoration: none;
    color: hotpink;
  }
}

.grid {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
}

.hamburger {
  background-color: hotpink;
  position: absolute;
  top: 20px;
  right: 12px;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header {
  min-height: 60px;
  background: #004385;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  margin: 60px auto;
  max-width: 1000px;
  @media screen and (min-width: 768px) {
    margin: 114px auto;
  }
}

.navigation {
  display: none;
  padding: 16px;
  &__link {
    display: block;
    text-decoration: none;
    color: hotpink;
    font-size: 24px;
    font-weight: 700;
    &:hover {
      border-bottom: 1px solid hotpink;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 32px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.navigation--open {
  display: block;
}
